            body {
                font-family: monospace;
                font-size:28px;
            }
            button{
                font-size: 28px;
            }
            .display {grid-area: display;}
            .borrar {grid-area: borrar;}
            .dividir {grid-area: dividir;}
            .siete {grid-area: siete;}
            .ocho {grid-area: ocho;}
            .nueve {grid-area: nueve;}
            .por {grid-area: por;}
            .cuatro {grid-area: cuatro;}
            .cinco {grid-area: cinco;}
            .seis {grid-area: seis;}
            .menos {grid-area: menos;}
            .uno {grid-area: uno;}
            .dos {grid-area: dos;}
            .tres {grid-area: tres;}
            .mas {grid-area: mas;}
            .vacio {grid-area: vacio;}
            .cero {grid-area: cero;}
            .punto {grid-area: punto;}
            .igual {grid-area: igual;}
            #container {
                background-color: grey;
                display: grid;
                padding: 5px;
                width: 400px;;
                height: 450px;
                grid-template-areas:
                "display display display display"
                "borrar borrar borrar dividir"
                "siete ocho nueve por"
                "cuatro cinco seis menos"
                "uno dos tres mas"
                "vacio cero punto igual"

            }
     
